<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Ateilla_Personalization_Manager.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <Ateilla_Personalization_Manager.My.MySettings>
            <setting name="X" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="Y" serializeAs="String">
                <value>550</value>
            </setting>
            <setting name="FontFace" serializeAs="String">
                <value>Arial Narrow</value>
            </setting>
            <setting name="FontStyle" serializeAs="String">
                <value>Bold</value>
            </setting>
            <setting name="FontSize" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="PrinterName" serializeAs="String">
                <value>Evolis Pebble</value>
            </setting>
            <setting name="DefaultTemplate" serializeAs="String">
                <value>test</value>
            </setting>
            <setting name="DefaultExpiration" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="Server" serializeAs="String">
                <value>NA</value>
            </setting>
            <setting name="Database" serializeAs="String">
                <value>NA</value>
            </setting>
            <setting name="Username" serializeAs="String">
                <value>NA</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>NA</value>
            </setting>
            <setting name="WindowsAuthentication" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LocalDatabase" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Logging" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Landscape" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CharNo" serializeAs="String">
                <value>21</value>
            </setting>
            <setting name="ChangeFontFace" serializeAs="String">
                <value>Arial Narrow</value>
            </setting>
            <setting name="ChangeFontStyle" serializeAs="String">
                <value>BOLD</value>
            </setting>
            <setting name="ChangeFontSize" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="NormalFontFace" serializeAs="String">
                <value>Arial Narrow</value>
            </setting>
            <setting name="NormalFontStyle" serializeAs="String">
                <value>BOLD</value>
            </setting>
            <setting name="NormalFontSize" serializeAs="String">
                <value>13</value>
            </setting>
            <setting name="UseAdvanceSettings" serializeAs="String">
                <value>True</value>
            </setting>
        </Ateilla_Personalization_Manager.My.MySettings>
    </userSettings>
</configuration>
